@model NoticeRightInfo
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}
<h1>@Model.Title</h1>
<p>@Model.Description</p>
<a asp-controller="NoticeRightInfo" asp-action="Index" class="btn btn-dark">Back</a>

